body{
  padding: 0px;
  margin: 0px;
  font-family: Arial;
  background-color: rgb(207, 207, 207);
}
#grad {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(240, 116, 37), rgb(255, 194, 113)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(240, 116, 37), rgb(255, 194, 113)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(240, 116, 37), rgb(255, 194, 113)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(240, 116, 37), rgb(255, 194, 113)); /* Standard syntax */
}

#logo a{
  text-shadow: 2px 2px 4px rgb(223, 223, 223);
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: ;
  font-size: 40px;
  font-family: 'Berkshire Swash', cursive;
}

#untertitel{
  color: white;
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
}

.eineAnzeige{
  font-family: 'Droid Sans', sans-serif;
  background-color: rgb(240, 240, 240);
  border: 3px white solid;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 17px;
  text-align:justify;
  margin: 10px;
}

.anzeigenkopf{
  text-align:center;
  color: rgb(240, 116, 37);
}
